In [ ]:
!pip install requests
!pip install xmltodict

In [3]:
import requests
from urllib import parse
import xmltodict
import json
import pandas as pd

In [4]:
url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

service_key = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"

param = {
    'serviceKey' : parse.unquote(service_key),
    'pageNo' : '1',
    'numOfRows' : '3000',
    'startCreateDt' : '20200310',
    'endCreateDt' : '20220831'
}

# requests 라이브러리 이용하여 오픈api에서 데이터를 가지고오는 코드
# 데이터형태가 xml의 형태로 리턴
response = requests.get(url, params=param)

# xml 데이터를 딕셔너리형태의 데이터로 형태를 변환
result = xmltodict.parse(response.content)

In [ ]:
rows = result["response"]["body"]["items"]["item"]
print(rows)

In [12]:
corona_df = pd.DataFrame(rows)
corona_df

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-08-31 08:15:32.74,26764,23246398,991,20220831,00:00,null,NaN,NaN
1,2022-08-30 08:07:00.006,26689,23142437,990,20220830,00:00,2022-08-31 08:15:57.022,NaN,NaN
2,2022-08-29 09:04:40.552,26618,23026799,989,20220829,00:00,2022-08-31 08:16:12.99,NaN,NaN
3,2022-08-28 09:23:20.921,26569,22983674,988,20220828,00:00,2022-08-31 08:16:27.935,NaN,NaN
4,2022-08-27 09:10:24.672,26499,22898425,987,20220827,00:00,2022-08-31 08:16:52.428,NaN,NaN
...,...,...,...,...,...,...,...,...,...
898,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335,3.318000336
899,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647,3.458499309
900,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998,3.621744273
901,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395,3.804174536
902,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144,3.919308057

In [11]:
# 데이터를 csv의 형태의 파일로 저장하는 코드

corona_df.to_csv('corona.csv', encoding='UTF-8')